html, body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background: 
    radial-gradient(circle at 20% 30%, rgba(255, 200, 200, 0.6), transparent 40%), 
    radial-gradient(circle at 80% 70%, rgba(200, 255, 200, 0.6), transparent 40%),
    conic-gradient(from 45deg, rgba(255, 255, 200, 0.6), transparent 70%),
    linear-gradient(45deg, rgba(200, 200, 255, 0.6), transparent);
    
  color: #333;
  line-height: 1.6;
}

header h1 {
  font-size: 4rem;
}

.container {
  width: 400px;
  margin: 0 auto;
}

section article {
  transition: box-shadow 0.3s ease;
  background-color: white;
  margin: 1rem 0;
  border-radius: 0.5rem;
  padding: 0.5rem 0;
  cursor: pointer;
}

section article:hover {
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}

section article h2,
section article p,
main h1,
main p,
.presentation h2,
.presentation p,
.presentation .long-paragraph {
  margin: 1rem 0;
}

footer {
  background-color: #333;
  color: rgb(252, 252, 255);
  padding: 1rem;
  text-align: center;
  width: 100%;
  margin-top: auto;
}

footer section {
  float: right;
}

footer p {
  margin: 0;
}

footer a {
  transition: color 0.3s ease;
  color: #3498db;
  text-decoration: none;
  cursor: pointer;
}

footer a:hover {
  color: #2980b9;
}

footer a:active {
  color: #1abc9c;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 1rem;
}

main {
  text-align: center;
  padding: 2rem;
}

main h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.presentation {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.presentation-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.presentation img {
  width: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

@media(min-width: 768px) {
  .presentation-content {
    flex-direction: row;
    text-align: left;
  }
  .presentation img {
    margin-right: 20px;
    margin-bottom: 0;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: #ffffff;
  position: relative;
}

.menu a {
  color: #ffffff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.menu-items {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #333;
  z-index: 1;
}

.menu-items a {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #d3aacd;
}

.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #e4bbdd;
  margin: 4px 0;
}

.menu.active .menu-items {
  display: flex;
}

@media(min-width: 768px) {
  .menu {
    justify-content: center;
  }
  .menu-items {
    display: flex;
    flex-direction: row;
    position: static;
    background-color: transparent;
    border: none;
  }
  .menu-items a {
    border: none;
  }
  .hamburger {
    display: none;
  }
}
